<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208123582095-917dabgrgomeqil7mcah61pm1hgflpvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208123582095-917dabgrgomeqil7mcah61pm1hgflpvg</string>
	<key>API_KEY</key>
	<string>AIzaSyButvMy-_wA0Vik1pFfjzzfxZWmxKJFSyM</string>
	<key>GCM_SENDER_ID</key>
	<string>208123582095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.dm.ondijon</string>
	<key>PROJECT_ID</key>
	<string>ondijon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ondijon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:208123582095:ios:5cd6184494ad2da79042fa</string>
	<key>DATABASE_URL</key>
	<string>https://ondijon-app.firebaseio.com</string>
</dict>
</plist>
